.part1 {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
	width: 100%
}
.part1 .block {
	position: relative;
	float: left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: calc(25% - 5px);
	border-radius: 5px;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	cursor: pointer;
}
.part1 .block:hover {
	box-shadow: none;
	border:1px solid #e5e5e5
}
.part1 .block .left {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 42px;
	width: 100%;
	height: 90px;
	background: #f9f9f9;
	border-right: 1px solid #f2f2f2;
	border-radius: 5px 0 0 5px;
	box-sizing: border-box;
}
.part1 .block .right {
	position: relative;
	float: left;
	display: flex;
	align-content: space-between;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	background: #fff;
	border-top: 1px solid #f2f2f2;
	border-radius: 0 0 5px 5px;
	box-sizing: border-box;
}
.part1 .block .right img {
	position: relative;
	float: right;
	padding: 14px;
	width: 50px;
	height: 100%;
	object-fit: scale-down;
	object-position: 50% 50%;
	border-radius: 0 0 0 5px;
	box-sizing: border-box;
	filter: invert(50%);
}
.part1 .block .right span {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 50px);
	height: 100%;
	font-size: 12px;
	border-left: 1px solid #f2f2f2;
	box-sizing: border-box;
}
.part2 {
	position: relative;
	float: left;
	display: flex;
	flex-flow:  row wrap;
	align-content: flex-start;
	justify-content: space-between;
	width: 100%;
}
.part2 .block {
	position: relative;
	float: left;
	margin: 8px 0 0 0;
	width: calc(33.3% - 5px);
	border-radius: 5px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.18);
}
.part2 .block .number {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	font-size: 42px;
	background: #fafafa;
	border-right: 1px solid #f2f2f2;
	border-radius: 5px 5px 0 0;
	box-sizing: border-box
}
.part2 .block img {
	position: relative;
	float: left;
	padding: 10px;
	width: 50%;
	height: 50px;
	background: #fff;
	object-fit: scale-down;
	object-position: 50% 50%;
	border-top: 1px solid #f2f2f2;
	border-radius: 0 0 0 5px;
	box-sizing: border-box
}
.part2 .block span {
	position: relative;
	float: left;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 8px;
	width: 50%;
	height: 50px;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
	color: #666;
	background: #fff;
	border: 1px solid #f2f2f2;
	border-width: 1px 0 0 1px;
	border-radius: 0 0 5px 0;
	box-sizing: border-box
}
#myChart {
	position: relative;
	float: left;
	margin-top: 10px;
	background: #fff;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1)
}
/* .tools {
	position: relative;
	float: left;
	padding: 10px 15px;
	margin: 0 0 15px 15px;
	width: calc(100% - 30px);
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
	box-sizing: border-box
} */
.tools h1 {
	position: relative;
	float: left;
	line-height: 1.3;
	margin-right: 100px;
}
.tools .sbold {
	margin-top: 24px;
}
.bHistory {
	position: relative;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
	margin-bottom: 10px;
	width: 100%
}
.bHistory .form-group.form-md-line-input {
	margin: 0;
	padding: 0
}

/* Responsive -------------------------------- */

@media screen and (max-width: 1320px){
	.bHistory {
		flex-wrap: wrap
	}
	.tools h1 {
		width: 100%;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 800px){
	.part1 {
		flex-wrap: wrap
	}
	.part1 .block {
		margin-bottom: 6px;
		width:100%;
		height: 120px
	}
	.part1 .block .right {
		flex-wrap: unset;
		justify-content: flex-start;
		align-items: center
	}
	.part1 .block .right img {
		border-radius: 3px;
	}
	.part1 .block .right span {
		width: auto;
		margin: 0
	}
}