body,
main {
    height: 100%
}
section {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%
}
.box {
    position: relative;
    float: left;
    padding: 0;
    width: 360px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.left {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}
.left .text {
    position: relative;
    float: left;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    align-items: center;
    font: 300 25px/1 "Roboto";
    letter-spacing: 0.6px;
}
.left .text span {
    display: none;
    position: relative;
    float: left;
    margin-top: 4px;
    font: 300 32px/1 "Montserrat";
}
.left .monoLogo {
    position: relative;
    float: center;
    height: 50px;
    
}
h1 {
    position: relative;
    float: left;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: calc(100% - 80px);
    height: 30px;
    font: 300 13px/1 "Montserrat";
    letter-spacing: 0.6px;
    text-transform: capitalize;
    text-align: center
}
.signIn {
    position: relative;
    float: left;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.signIn .obj {
    position: relative;
    float: left;
    margin-bottom: 14px;
    width: 100%
}
.signIn .obj label {
    position: relative;
    float: left;
    padding: 0 0 10px 0;
    width: 100%;
    font: 400 11px "Montserrat";
    letter-spacing: 0.6px;
    z-index: 10
}
.signIn .obj img {
    position: relative;
    float: left;
    padding: 12px;
    width: 40px;
    height: 42px;
    background: #f7f7f7;
    object-fit: scale-down;
    object-position: 50% 50%;
    border: 1px solid #dedede;
    border-width: 1px 0 1px 1px;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box
}
.signIn input[type="text"],
.signIn input[type="password"] {
    position: relative;
    float: left;
    padding: 0 10px;
    height: 42px;
    width: calc(100% - 40px);
    font: 300 12px "Roboto";
    letter-spacing: 0.4px;
    background: #fff;
    border-radius: 0 3px 3px 0;
    border: 1px solid #dedede;
    box-sizing: border-box;
    z-index: 20
}
.signIn input[type="text"]:focus,
.signIn input[type="password"]:focus {
    border-color: #ccc
}
.signIn input[type="submit"] {
    position: relative;
    float: left;
    width: 100%;
    height: 46px;
    font: 700 15px/1 "Montserrat";
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    background: #F7CA18;
    border-radius: 3px;
    cursor: pointer;
}
.signIn input[type="submit"]:hover {
    box-shadow: 0 0.5px 8px rgba(0, 0, 0, 0.4)
}
.signIn input[type="submit"]:active {
    box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.6)
}
.admin {
    background: #4CAF50 !important;
}
.info {
    position: relative;
    float: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 10px 12px;
    width: 100%;
    background: #d40000;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer
}
.info .warning {
    position: relative;
    float: left;
    width: 20px;
    height: 20px;
    object-fit: scale-down;
    object-position: 50% 50%
}
.info span {
    position: relative;
    float: left;
    font: 400 10px "Roboto";
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #fff;
    box-sizing:  border-box;
}
.info .closeInfo img {
    position: relative;
    float: left;
    width: 8px;
    height: 8px;
    object-fit: scale-down;
    object-position: 50% 50%
}
#copyright {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    width: 100%;
    font: 300 10px "Montserrat";
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    box-sizing: border-box
}

/* RESPONSIVE -------------------------------- */

@media screen and (max-height: 500px) {
    #copyright {
        display: none
    }
}
@media screen and (max-width: 400px) {
    section {
        padding: 30px 20px;
        box-sizing: border-box
    }
    .box {
        width: 100%
    }
}