@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');

*:not(textarea) {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    resize: none;
    font-size: inherit;
    vertical-align: middle;
    text-shadow: 0.3px 0.3px 0.2px rgba(0, 0, 0, 0.1)
}
body {
    position: absolute;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    font: 400 12px/1.6 "Roboto", Arial, sans-serif;
    color: #112833
}
a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none
}
a:hover {
    text-decoration: underline;
    cursor: pointer
}
b {
    font-weight: 700
}

/* TYPICAL -------------------------------- */

.showFLex {
    display: flex !important
}
main {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    background: #f2f2f2;
}

/* RESPONSIVE ----------------------------- */

@media screen and (min-width: 2570px) {
    main {
        left: 50%;
        margin-left: -683px;
        width: 1366px
    }
}